
.logo {
    margin-top:3%;
    width: 35px;
    height: 45px;
}
.nav{
    background-color: rgb(0, 76, 255);
    border-radius: 10px;
    color: white;
}

 body {
    background-color: white;
    color: black;
    font-family: cursive;
}

.searchbtn{
    background-color:rgb(0,76,255);
    color: white;
    border: none;
    border-radius: 5px;
    margin:5px ;
}
.searchbtn:hover{
    background-color:blueviolet;
    box-shadow: 1px 1px 5px 3px violet;
}
#searchbtndiv{
    margin: auto;
    width: 65px;
}

.card {
    border-style: solid;
    border-width: 3px;
    border-radius: 10px;
    border-color: rgb(0, 76, 255);
    margin:25px;
    box-shadow: 1px 1px 10px 5px rgb(0, 76, 255);
}
.card:hover{
    box-shadow: 1px 1px 10px 10px rgb(0, 76, 255);
    scale: 1.01;

}
.poster{
    margin: 10px;
    width:200px;
    height: 200px;
    border-radius: 10px;
}
.poster:hover{
    box-shadow: 1px 1px 3px 5px rgb(0, 75, 255);
}
.searchip{
    border-radius:10px ;
    border-color: blue;
    box-shadow: 1px 1px 5px 5px rgb(0, 145, 255);
}
.searchdiv{
    margin: auto;
    width:250px;
}
.detailmovie{
    margin:15px;
    font-family:monospace;
    
}
.notfound{
    border-style: solid;
    border-color: red;
    box-shadow: 1px 1px 10px 10px red;
    margin: 25px;
    padding: 25px;
    border-radius: 10px;
}
.loading{
    width:80%;
    height:80%;
    padding-left:50px ;
}
.linkedin{
    margin:30px;
    padding: 20px;
    border-radius: 10px;
    border-style: solid;
    border-color:rgb(0,76,255);
    box-shadow: 1px 1px 10px 3px rgb(0,76,255);
}
#linkedinbtn{
    margin: 5px;
    color: white;
    font-family: cursive;
}
.mh{
    display: flex;
   
}
.mb{
    display: flex;
     justify-content: space-between;
}
.nav{
    display: flex;
    justify-content: space-between;
}
.hunt{
    margin-top: 15px;
    font-size: 26px;
}
.search-page{
    margin: 40px;
    font-size: 26px;
    font-family: cursive;
}
.tm-card{
  border-color: blue;
  border-style: solid;
  border-radius: 10px;
  box-shadow: 1px 1px 4px 4px blue;
  padding: 30px;
  margin: 30px;
}
.tm-img{
  display: flex;
  justify-content: center;
  width:200px;
  height:200px;
  border-radius: 10px;
}
.img-div-trend{
  display: flex;
  justify-content: center;
}
.tm-h1{
  display: flex;
  justify-content: center; 
  margin-top: 20px;
}
.tm-card-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap:20px;
}
@media (max-width: 600px) {
  .tm-card-container {
    grid-template-columns: 1fr;
  }
}
